.app {
    min-height: 100vh;
}

.app__container {
    // display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    align-items: center;
    height: 80%;
    min-height: 668px;

    @media (max-width: 1442px) {
        justify-content: center;
    }
}  
.app__nav {
    height: 10%;
    min-height: 80px;
    padding: 20px 0;
}

.app__nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 15px 0;
}

.nav__branding {
    @include bodyType(calc(2.4rem + 0.25vw), 400, $darkGreen);
    text-align: center;
    line-height: calc(46px + 0.7vw);
    width: calc(200px + 2.98vw);
    height: calc(54px + 0.6vw);
    background-color: $offsetLightGreen;
    border: 4px solid $lightGreen;
    box-shadow: 4px 4px 0 0 $darkGreen;
    text-transform: lowercase;
    transition: transform 100ms ease;
    transform: rotateZ(-2deg);

    &:hover {
        transform: rotateZ(0deg);
        cursor: pointer;
    }
}

.nav__link {
    @include bodyType(calc(2.4rem + 0.25vw), 400, $darkGrey);
    text-align: center;
    line-height: 56px; 
    text-transform: lowercase;
    height: 100%;
    margin-right: 20px;

    &--mobile {
        display: none;
    }

    &::after {
        font-family: 'Font Awesome 5 Pro';
        font-size: calc(1.8rem + 0.25vw);
        position: relative;
        left: 6px;
        content: '\f061';
        transition: left 150ms ease;
    }

    &:hover {
        &::after {
        left: 10px;
        }
    }
}

@media (max-width: 940px) {
    .nav__link--desktop {
        display: none;
    }

    .nav__link--mobile {
        position: relative;
        display: inline-block;
        margin-right: 0;
        width: calc(50px + 1.1vw);
        height: calc(54px + 0.6vw);

        &::after {
            display: none;
        }

        #menu-trigger {
            position: absolute;
            opacity: 0;
        }

        .nav__mobile {
            position: fixed;
            top: 0;
            bottom: 0;
            right: -470px;
            width: 50%;
            padding: 125px 45px 0;
            background: rgba(230, 231, 233, 0.88);
            transition: right 250ms ease-out;

            .mobile__links {
                position: relative;

                li {
                    position: absolute;
                    top: 0;
                    width: 100%;
                    height: 70px;
                    text-align: left;
                    border-bottom: dashed $darkGrey 2px;
                }
            }
        }

        #menu-trigger:checked { 
            + .hamburger {
                .hamburger__line:first-of-type {
                    background: $darkGrey;
                    transform: rotateZ(135deg) translateY(18px);
                    top: 38px;
                    left: 12.5px;
            }

                .hamburger__line:last-of-type {
                    background: $darkGrey;
                    transform: rotateZ(-135deg) translateY(18px);
                    top: 38px;
                    left: -12.5px;
                }
            }
        }

        #menu-trigger:checked ~ .nav__mobile {
            position: fixed;
            top: 0;
            bottom: 0;
            right: 0;
            width: 50%;
            background: rgba(230, 231, 233, 0.88);

            @media (max-width: 768px) {
                width: 75%;
            }

            @media (max-width: 480px) {
                width: 100%;
            }
        }

    }

    .hamburger {
        display: inline-block;
        z-index: 10;
        position: relative;
        height: 100%;
        width: 100%;
    
        .hamburger__line {
            width: 100%;
            height: 5px;
            background: $black;
            transition: all 150ms ease-in-out;
        }
    
        .hamburger__line--top {
            position: absolute;
            top: 16px;
            left: 0;
        }
        
        .hamburger__line--bottom {
            position: absolute;
            bottom: 16px;
            left: 0;
        }

        &:hover > .hamburger__line {
            background: $darkGrey;
        }
    }
}

.hide__gallery__btn {
    display: none;
}

.app__footer {
    display: flex;
    justify-content: flex-end;
    height: 10%;
    padding: 20px 0;

    @media (max-width: 940px) {
        justify-content: center;
    }

    .footer__social {
        width: 100px;
        font-size: calc(3.2rem + 1.1vw);
        text-align: right;
        transition: color 250ms ease;

        &:hover {
            color: lighten($darkGrey, 5%);
        }

        a {
            color: inherit;
        }

        a:visited {
            text-decoration: none;
            color: $darkGrey;
        }

        @media (max-width: 940px) {
            text-align: center;
        }
    }
}

.copyright__footer {
    background-color: $darkGreen;
    padding: 2px;

    p {
        color: $lightGrey;
        font-size: 10px;
        text-align: center;
    }

    a {
        color: $lightGrey;
        text-decoration: underline;
    }
    
}

.main-button {
    @include mainButton(calc(1.5rem + 0.4vw), calc(46px + 1.19vw), 100%);
    margin-bottom: 15px;
    margin-top: 12px;

    &::after {
        font-family: 'Font Awesome 5 Pro';
        font-size: calc(1.8rem + 0.25vw);
        position: relative;
        left: 10px;
        top: 0.5px;
        content: '\f061';
    }
}

.secondary-button {
    @include secondaryButton(calc(1.5rem + 0.4vw), calc(46px + 1.19vw), 100%);

    &::after {
        font-family: 'Font Awesome 5 Pro';
        font-size: calc(1.8rem + 0.25vw);
        margin-left: 10px;
        content: '\f074';
    }
}