// App.js
.app {
    border: 1px solid red;
    height: 100vh;
}

.app__container {
    // margin: auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap-reverse;
    height: 85%;
    
    &__leftLanding {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 45%;
        min-width: 400px;
        border: 1px solid red;
        padding-top: 90px;
    }

    &__rightLanding {
        display: flex;
        flex-direction: column;
        width: 55%;
        min-width: 400px;
        border: 1px solid red;

        div {
            margin: 90px auto;
            border: 1px solid black;
            // height: 50%;
            width: 100%;
        }
    }

    &__gallery {
        border: 1px solid red;
        width: 100%;
    }


    &__gameBoard {
        display: flex;
        width: 100%;
        
        .draggable-source--is-dragging {visibility: hidden;}
        
        &__generated {
            width: 40%;
            background: $lightGrey;

            &__item {
                @include bodyType(2rem, 400, $darkGreen);
                display: inline-block;
                user-select: none;
                padding: 4px 10px;
                border: 3px solid $darkGreen;
                margin: 0 4px 4px 0;
                background: $lightGreen;
            }

            .disabled {
                background: $darkYellow;
            }
        }
        
        &__dragbox {
            width: 60%;

            &__item {
                @include bodyType(2rem, 400, $darkGreen);
                display: inline-block;
                user-select: none;
                padding: 4px 10px;
                border: 3px solid $darkGreen;
                margin: 0 4px 4px 0;
                background: $offsetLightGreen;
            }
        }
    }   // gameboard

    &__modal {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 10;
        
        display: flex;
        justify-content: center;
        
        background: rgba(0, 0, 0, 0.8);
        transform: translateX(-100%);
        
        &__modalInner {
            display: flex;
            flex-direction: column;
            height: auto;
            width: 50%;
            padding: 10px 15px;
            border-radius: 1em;
            margin: auto 0;
            background: #fff;

            img {
                margin: 0 auto;
                width: 60%;
            }
        
            h2 {
                margin: 0;
                margin-top: 5px;
            }
        
            button {
                align-self: flex-end;
            }
        }
    }   // modal
}   // app__container

.app__nav {
    height: 10%;
    border: 1px solid black;
}

.app__nav ul {
    display: flex;
    justify-content: space-between;
    height: 100%;
    padding: 15px 0;
}

.nav__branding {
    @include bodyType(calc(2.4rem + 0.25vw), 400, $darkGreen);
    text-align: center;
    line-height: 56px;  
    width: 250px;
    height: 64px;
    background-color: $offsetLightGreen;
    border: 4px solid $lightGreen;
    box-shadow: 4px 4px 0 0 $darkGreen;
    text-transform: lowercase;
    transition: transform 100ms ease;

    &:hover {
        transform: rotateZ(-2deg);
    }
}

.nav__link {
    @include bodyType(calc(2.4rem + 0.25vw), 400, $darkGrey);
    text-align: center;
    line-height: 56px; 
    text-transform: lowercase;
    height: 100%;
    margin-right: 20px;

    &::after {
        position: relative;
        top: 2px;
        left: 6px;
        content: '';
        display: inline-block;
        height: 20px;
        width: 20px;
        border: 1px solid red;
        transition: left 150ms ease;
    }

    &:hover {
        &::after {
        left: 10px;
        }
    }
}

.container__form {
    border: 1px solid black;
    width: 60%;
    height: 50%;
}

.app__footer {
    display: flex;
    justify-content: flex-end;
    height: 5%;
    border: 1px solid black;
}

.app__footer div {
    height: 100%;
    width: 100px;
    background-color: red;
}

.main-header {
    @include headingType(calc(3.5rem + 2.2vw));
}

.main-paragraph {
    @include bodyType(calc(1.5rem + 0.18vw), 400);
}


.main-button {
    @include mainButton(calc(1.5rem + 0.4vw), calc(46px + 1.19vw), 100%);
    margin-bottom: 20px;
}

.secondary-button {
    @include secondaryButton(calc(1.5rem + 0.4vw), calc(46px + 1.19vw), 100%);
    margin-bottom: 20px;
}

/* MagnetBoard.js ----*/
.flexbox {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 100%;
    height: 100vh;
    max-width: 800px;
    padding: 15px;
    overflow: hidden;
}

.flexbox .board {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 300px;
    background-color: black;
    padding: 15px;
}

.flexbox .board .magnet {
    padding: 15px 25px;
    background-color: green;
    cursor: pointer;
    margin-bottom: 15px;
}
/* MagnetBoard.js ----*/


/* animations */
/* ----------------------------------------------
 * Generated by Animista on 2020-5-5 19:9:32
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
.slideRight {animation: slideRight 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;}
.slideLeft {animation: slideLeft 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;}

@keyframes slideLeft {
    0% {transform: translateX(0);}
    100% {transform: translateX(-100%);}
}

@keyframes slideRight {
    0% {transform: translateX(-100%);}
    100% {transform: translateX(0);}
}

Autocomplete {
    background: red;
}
