@import 'variables';

// Gallery
.app__container__gallery {
    
    &__grid {
        display: flex;
        flex-wrap: wrap;

        &__poem {
            width: 50%;
            
            &__word {
                @extend %draggableItem;
            }
            
        }

        &__poem:nth-child(2n) {
            .app__container__gallery__grid__poem__word {
                background: $offsetLightGreen;
                border: 3px solid $lightGreen;
            }
            
        }
    }

} // Gallery