@import 'variables';
// Gallery
.app__container__gallery {
    
    &__grid {
        display: flex;
        flex-wrap: wrap;

        &__poem {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            flex: 1 0 48%;
            background-color: $lightGrey;
            padding: 4px 0 4px 10px;
            margin: 5px;
            box-shadow: 0 1px 3px $darkGrey;

            .verse__title {
                font-size: 20px;
                margin-bottom: 3px;
            }

            .verse__by {
                @extend %draggableItem;
                align-self: flex-end;
                border-color: $darkYellow;
                color: $offsetDarkYellow;
                transform: rotate(-5deg);
                margin-right: 4px;
                background: $lightYellow;
            }

            .verse__container {
                margin-top: 5px;
            }

            @media (max-width: 960px) {
                flex: 1 0 100%;
            }

            &__word {
                @extend %draggableItem;
            }
            
        }

        &__poem:nth-child(2n) {
            .app__container__gallery__grid__poem__word {
                @extend %draggableItem;
                background: $offsetLightGreen;
                border: 3px solid $lightGreen;
            }
            
        }
    }

    &__buttons {
        display: flex;
        justify-content: space-between;
        width: 50%;
        margin: 0 auto;
        margin-top: 25px;

        .main-button {
            @include mainButton(calc(1.5rem + 0.4vw), calc(46px + 1.19vw),49%);
            margin: 0;
    
            &::after {
                font-family: 'Font Awesome 5 Pro';
                font-size: calc(2.3rem + 0.25vw);
                position: relative;
                left: 10px;
                top: 2px;
                content: '\f0d7';
            }
        }
    
        .secondary-button {
            @include secondaryButton(calc(1.5rem + 0.4vw), calc(46px + 1.19vw), 49%);
    
            &::after {
                font-family: 'Font Awesome 5 Pro';
                font-size: calc(2.3rem + 0.25vw);
                position: relative;
                left: 2px;
                top: 4px;
                content: '\f0d8';
            }
        }

        
        @media (max-width: 470px) {
            width: 100%;
            margin-top: 10px;
            flex-wrap: wrap;
            
            .main-button {
                width: 100%;
                margin-top: 10px;
            }
            .secondary-button {
                width: 48%;
                margin-top: 10px;
            }
        }
    }
} // Gallery