@import 'variables';

%draggableItem {
    @include bodyType(2rem, 400, $darkGreen);
    display: inline-block;
    user-select: none;
    padding: 4px 10px;
    border: 3px solid $darkGreen;
    margin: 0 10px 10px 0;

    background: $lightGreen;
    transition: all 0.1s ease-in-out;

    &:hover, 
    &:focus {
        color: $offsetDarkYellow;
        background: $lightYellow;
        border: 3px solid $darkYellow;
        box-shadow: 3px 3px 0 0 $offsetDarkYellow;
        transform: rotate(-2deg);
    }
}

.container__game-board {
    display: flex;
    flex-wrap: wrap-reverse;
    width: 100%;
    min-height: 100vh;
    // border: 1px solid red;


    .game-board__generated {
        width: 40%;
        padding: 40px;
        background: $lightGrey;

        @media (max-width: 1198px) {
            width: 100%;
            height: 20%;
        }

        @media (max-width: 768px) {
            padding: 20px;
        }

        .generated__item {@extend %draggableItem;}

        .disabled {
            background: $darkYellow;
            border: 3px solid $offsetDarkYellow;
            color: $offsetDarkYellow;
        }
    }

    .sandbox__container {
        width: 60%;
        min-width: 646px;
        // border: 1px solid red;
        display: flex;
        flex-direction: column;

        @media (max-width: 1198px) {
            width: 100%;
            min-height: 55vh;
            min-width: auto;
        }

        .main-header {
            @include headingType(calc(2.4rem + 0.96vw));
            text-align: center;
            margin: 40px 0;
            // border: 1px solid red;
            text-align: center;

            @media (max-width: 940px) {
                display: none;
            }
        }

        .sandbox__buttons {
            // border: 1px solid red;
            align-self: flex-end;
            width: 50%;
            display: flex;
            justify-content: space-between;

            @media (max-width: 525px) {
                width: 75%;
                margin: 0 auto;
            }

            .main-button {
                @include mainButton(calc(1.5rem + 0.4vw), calc(46px + 1.19vw), 45%);
                margin: 0;

                &::after {
                    font-family: 'Font Awesome 5 Pro';
                    font-size: calc(1.8rem + 0.25vw);
                    position: relative;
                    left: 10px;
                    top: 2px;
                    content: '\f02e';
                }
            }

            .secondary-button {
                @include secondaryButton(calc(1.5rem + 0.4vw), calc(46px + 1.19vw), 45%);
                position: static;
                // z-index: 0;

                &::after {
                    font-family: 'Font Awesome 5 Pro';
                    font-size: calc(1.8rem + 0.25vw);
                    position: relative;
                    top: 2px;
                    left: 8px;
                    content: '\f55a';
                }
            }
        }
    }

    .game-board__sandbox {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 80%;
        height: 100%;
        margin: 0 auto;
        // border: 1px solid red;

        @media (max-width: 1198px) {
            height: 50%;
            flex-direction: column-reverse;
        }

        @media (max-width: 940px) {
            height: 60%;
        }

        @media (max-width: 768px) {
            width: 100%;
        }

        .sandbox__droppable {
            display: flex;
            flex-direction: column;
            align-items: center;
            max-width: 100%;
            overflow: hidden;
        }

        .generated__item {
            @extend %draggableItem;
            background: $offsetLightGreen;
            border: 3px solid $lightGreen;

            &:hover,
            &:focus {
                color: $darkGreen;
                @extend %draggableItem;
                background: $offsetLightGreen;
                border: 3px solid $lightGreen;
                box-shadow: 3px 3px 0 0 $darkGreen;
            }
        }
    }
}