// Global Styles
html {
    @include bodyType(62.5%, 400);
    margin-bottom: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

p {
    @include bodyType(calc(1.5rem + 0.25vw), 400, $darkGreen);
    margin: 0;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

img {
    max-width: 100%;
    display: block;
}

.wrapper {
    max-width: 1680px;
    width: 90%;
    margin: 0 auto;
}

.main-button:focus,
.secondary-button:focus,
button[style]:focus {
    border: 5px solid $lightGreen;
}