@import 'variables';

.container__modal {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.4);
    transform: translateX(-100%);
}
    
.modal__instructions {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 50%;
    padding: 20px;
    border-radius: 6px;
    background: #fff;

    @media (max-height: 627px) {
        flex-direction: column;

        .instructions__copy {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 100%;
            // margin-left: 20px;
        }
    }

    @media (max-width: 940px) {
        width: 75%;
    }

    @media (max-width: 480px) {
        width: 90%;
    }

    .instructions__illustration {
        width: 40%;
        // border: 1px solid red;
        margin: 0 auto 10px;

        @media (max-height: 618px) {
            margin-bottom: 0;
        }

        .illustration__img {
            display: block;
            width: 100%;
            // border: 1px solid red;
        }

        // George, I took these out so the image scales natually allows for short screens

        // @media (max-width: 1428px) {
        //     width: 50%;
        // }

        // @media (max-width: 1041px) {
        //     width: 60%;
        // }

        // @media (max-width: 819px) {
        //     width: 70%;
        // }

        // @media (max-width: 675px) {
        //     width: 90%;
        // }

        // @media (max-width: 480px) {
        //     width: 100%;
        // }
    }

    .main-header {
        @include headingType(calc(2.4rem + 0.96vw));
        text-align: center;
        margin-bottom: 15px;
        // border: 1px solid red;
        text-align: center;
    }

    .main-paragraph {
        @include bodyType(calc(1.5rem + 0.18vw), 400);
        text-align: center;
        margin: 0 auto 40px;
        // border: 1px solid red;
        width: 100%;
        text-align: center;

        @media (min-height: 402px) {
            height: 45%;
            width: 100%;
            margin-bottom: 5px;
            align-self: center;
            
        }

        @media (max-width: 1238px) {
            width: 75%;
        }

        @media (max-width: 901px) {
            width: 90%;
        }
    }

    .main-button {
        margin: 0;
        width: 150px;
        align-self: flex-end;

        @media (max-width: 940px) {
            align-self: center;
        }
    }
}  

// inside share modal

.app__container__modal__modalInner {
    display: flex;
    flex-direction: column;
    height: auto;
    min-height: 406px;
    width: 50%;
    padding: 20px;
    border-radius: 6px;
    background: #fff;

    @media (max-height: 618px) {
        flex-direction: colum;
    }

        .share__illustration {
            @media (max-height: 618px) {
            margin-bottom: 0;
        

        .share__img {
            display: block;
            width: 100%;
            height: auto;
            min-height: 112.19px;
            min-width: 116.5px;
            }

        
        }
    }

}

.share_inputs {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: center;

    @media(max-width: 1181px){
        width: 55%;
        justify-content: space-around;
        margin: 0 auto;
    }

    @media(max-width: 1007px){
        width: 80%;
    }

    .gallery_btn {
        @include mainButton($fontSizeValue: calc(.7rem + 0.59vw), $heightValue: calc(17px + 1.19vw), $widthValue: calc(100px + 2.5vw));
        margin-top: 16px;
        width: 132px;
        height: 32.86px;
    }

    .share_btn {
        @include secondaryButton($fontSizeValue: calc(.8rem + 0.59vw), $heightValue: calc(17px + 1.19vw), $widthValue: calc(100px + 2.5vw));
        margin-top: 16px;
        width: 132px;
        height: 32.86px;
    }
}


/* animations */
/* ----------------------------------------------
 * Generated by Animista on 2020-5-5 19:9:32
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
.slideRight {animation: slideRight 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;}
.slideLeft {animation: slideLeft 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;}

@keyframes slideLeft {
    0% {transform: translateX(0);}
    100% {transform: translateX(-100%);}
}

@keyframes slideRight {
    0% {transform: translateX(-100%);}
    100% {transform: translateX(0);}
}