
.App {
  text-align: center;
}

body {
  background-color: antiquewhite;
}

.flexbox {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 100%;
  height: 100vh;
  max-width: 800px;
  padding: 15px;
  overflow: hidden;
}

.flexbox .board {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 300px;
  background-color: black;
  padding: 15px;
}

.flexbox .board .magnet {
  padding: 15px 25px;
  background-color: green;
  cursor: pointer;
  margin-bottom: 15px;
}


