/* setup ------- */
html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.visuallyHidden:not(:focus):not(:active) { position: absolute; width: 1px; height: 1px; margin: -1px;border: 0;padding: 0;white-space: nowrap;clip-path: inset(100%);clip: rect(00 0 0);overflow: hidden;}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}
/* setup ------- */

.App {
  text-align: center;
}

body {
  background-color: antiquewhite;
  font-family: 'Kanit', sans-serif;
  font-weight: 400;
}

h1 {
  font-weight: 700;
}

/* global styles ----- */
.wrapper {
  display: flex;
  max-width: 1000px;
  width: 80%;
  margin: 0 auto;
}

.pageLeft {
  width: 40%;
  border: 1px solid red;
}

.pageRight {
  width: 60%;
  border: 1px solid red;
}
/* global styles ----- */


/* MagnetBoard.js ----*/
.flexbox {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 100%;
  height: 100vh;
  max-width: 800px;
  padding: 15px;
  overflow: hidden;
}

.flexbox .board {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 300px;
  background-color: black;
  padding: 15px;
}

.flexbox .board .magnet {
  padding: 15px 25px;
  background-color: green;
  cursor: pointer;
  margin-bottom: 15px;
}
/* MagnetBoard.js ----*/


/* HomeLeft.js ----*/
input[id="mui-77075"] {
  /* select search input and fix width */
  width: 100%;
}
/* HomeLeft.js ----*/

/* Modals ---- */
.modal {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 10;
  
  display: flex;
  justify-content: center;
  
  background: rgba(0, 0, 0, 0.8);
  transform: translateX(-100%);
}

.modalInner {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 50%;
  padding: 10px 15px;
  border-radius: 1em;
  margin: auto 0;
  background: #fff;
}

.modalInner img {
  margin: 0 auto;
  width: 60%;
}

.modalInner h2 {
  margin: 0;
  margin-top: 5px;
}

.modalInner button {
  align-self: flex-end;
}

.slideRight {
  animation: slideRight 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.slideLeft {
  animation: slideLeft 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/* Modals ---- */


/* animations */
/* ----------------------------------------------
 * Generated by Animista on 2020-5-5 19:9:32
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
@keyframes slideLeft {
  0% {transform: translateX(0);}
  100% {transform: translateX(-100%);}
}

@keyframes slideRight {
  0% {transform: translateX(-100%);}
  100% {transform: translateX(0);}
}
